@charset "utf-8";
@namespace "http://www.w3.org/1999/xhtml";

@page {
/* 上右下左 */
margin: .5em 0 0 .5em;
}

html {
writing-mode: horizontal-tb;
-webkit-writing-mode: horizontal-tb;
-epub-writing-mode: horizontal-tb;
-epub-line-break: strict;
line-break: strict;	
-epub-word-break: normal;
word-break: normal;
margin: 0;
padding: 0;
}

body {
margin: 0;
padding: 0;
display: block;
color: #000;
border: none;
font-size: 1em;
line-height: 1.75;
vertical-align: baseline;
}
