@charset "utf-8";
@namespace "http://www.w3.org/1999/xhtml";

/* Kindle画像zip用 */
@page {
margin: 0;
padding: 0;
}

html {
writing-mode: horizontal-tb;
-webkit-writing-mode: horizontal-tb;
-epub-writing-mode: horizontal-tb;
margin: 0;
padding: 0;
width: auto;
height: auto;
}

body {
margin: 0;
padding: 0;
width: auto;
height: auto;
}

body .img {
width: auto;
height: auto;
}
