@charset "utf-8";
@namespace "http://www.w3.org/1999/xhtml";

/* 画像用 */
@page {
margin: 0;
padding: 0;
}

html {
writing-mode: horizontal-tb;
-webkit-writing-mode: horizontal-tb;
-epub-writing-mode: horizontal-tb;
margin: 0;
padding: 0;
}

body {
margin: 0;
padding: 0;
text-align: center;
}
/* ページ内 画像は縮小のみ */
body .img {
}

/* 幅を合わせる */
body.fit_w img {
width: 100%;
min-width: 100%;
height: auto;
}
/* 高さを合わせる */
body.fit_h img {
width: auto;
height: 100%;
min-height: 100%;
}
