@charset "utf-8";
@namespace "http://www.w3.org/1999/xhtml";

/** 縦書き用 左右中央 */
@page {
/* 上右下左 */
margin: 0 0 0 0;
width:100%;
height:100%;
}

html {
writing-mode: vertical-rl;
-webkit-writing-mode: vertical-rl;
-epub-writing-mode: vertical-rl;
-epub-line-break: strict;
line-break: strict;	
-epub-word-break: normal;
word-break: normal;
margin: 0;
padding: 0;
width:100%;
height:100%;
}
body {
margin: 0;
padding: .5em 0;
display: block;
color: #000;
font-size: 1em;
line-height: 1.75;
vertical-align: middle;
width:100%;
height:100%;
}

table {
width:100%;
height:100%;
}
table td {
width:100%;
height:100%;
display: table-cell;
}

/* 左右中央 */
table.middle td {
vertical-align: middle;
}
/* ページ左 */
table.bottom td {
vertical-align: bottom;
}

/* kindle左右中央 */
div.kindle_outer {
writing-mode: horizontal-tb;
-webkit-writing-mode: horizontal-tb;
-epub-writing-mode: horizontal-tb;
text-align: center;
width:100%;
}
div.kindle_outer.bottom {
text-align: left;
}
div.kindle_inner {
display: inline-block;
writing-mode: vertical-rl;
-webkit-writing-mode: vertical-rl;
-epub-writing-mode: vertical-rl;
text-align: left;
height: 95%;
}