@charset "utf-8";
@namespace "http://www.w3.org/1999/xhtml";

/** 縦書き テキスト用スタイル */
@page {
margin: ${pageMargin[0]} ${pageMargin[1]} ${pageMargin[2]} ${pageMargin[3]};
}

html {
margin: ${bodyMargin[0]} ${bodyMargin[1]} ${bodyMargin[2]} ${bodyMargin[3]};
padding: 0;
writing-mode: vertical-rl;
-webkit-writing-mode: vertical-rl;
-epub-writing-mode: vertical-rl;
-epub-line-break: strict;
line-break: strict;	
-epub-word-break: normal;
word-break: normal;
}
body {
margin: 0;
padding: 0;
display: block;
color: #000;
font-size: ${fontSize}%;
line-height: ${lineHeight};
vertical-align: baseline;
}

/** 太字、ゴシック */
#if (${boldUseGothic})
.b,
#end
.gtc {
font-family: '@ＭＳ ゴシック','@MS Gothic',sans-serif;
}
#if (${gothicUseBold})
.gtc,
#end
.b { font-weight: bold; }
.i { font-style: italic; }

/** 外字フォント */
#foreach(${gaijiInfo} in ${vecGaijiInfo})
@font-face {font-family:"${gaijiInfo.ClassName}"; src:url(../gaiji/${gaijiInfo.FileName});}
.${gaijiInfo.ClassName} {font-family:"${gaijiInfo.ClassName}";}
#end