@charset "utf-8";
@namespace "http://www.w3.org/1999/xhtml";

/* 画像用 */
@page {
	margin: 0;
	padding: 0;
}

html {
	writing-mode: vertical-rl;
	-webkit-writing-mode: vertical-rl;
	-epub-writing-mode: vertical-rl;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

/* ページ内 画像は縮小のみ */
body.fit, body.fit_h {
	display: table;
}
body .img {
	width: 100%;
	height: 100%;
}
body.fit .img,
body.fit_h .img {
	max-width: 100%;
	max-height: 100%;
	display: table-cell;
	vertical-align: middle;
}
body.fit img {
	max-width: 100%;
	max-height: 100%;
	display: block;
}

/* 表紙画像は小さければ拡大 */
/* ページ内 画像は縮小のみ */
body.cover img {
	width: 100%;
	height: auto;
}

/* 幅を合わせる 幅600px以上で縦横比4:3以上 */
body.fit_w img {
	width: 100%;
	height: auto;
}
/* 高さを合わせる 画像は縮小のみ */
body.fit_h img {
	width: auto;
	height: 100%;
}
