@charset "utf-8";
@namespace "http://www.w3.org/1999/xhtml";

/** 縦書き用 ページ設定以外の基本部分 */
p {
text-align: justify;
margin: 0;
}
:link { color: #00C; background: transparent; }
:visited { color: #609; background: transparent; }
a:active { color: #C00; background: transparent; }
a:link img, a:visited img { border-style: none; }

span.img {
/*clear: both;*/
display: inline-block;
vertical-align: middle;
max-width: 100%;
max-height: 100%;
}
span.img.ft {
/*clear: both;*/
display: inline;
float: left;
padding-bottom: 0.5em;
}
span.img.fb {
/*clear: both;*/
display: inline;
float: right;
padding-top: 0.5em;
}
span.img.fw img {
width: 100%;
}
span.img.fh img {
height: 100%;
}

h1 { font-size: 150%; margin-top: 1em; }
h2, h3, h4, h5, h6 { margin-top: 1em; }
h2 { font-size: 130%;}
h3 { font-size: 115%;}
h4 { font: bold 100%; }
h5 { font: italic 100%; }
h6 { font: small-caps 100%; }

hr { margin: .5em 0 .5em 0; }

.strike { text-decoration:line-through; }
.dbl_strike { text-decoration:line-through; }

/* 外字文字画像 */
.gaiji {
display: inline-block;
vertical-align: middle;
}
.gaiji img {
width: 1em;
position: relative;
left: -.2em;
}
/* 罫囲み */
.border {
border: 1px solid #000;
margin: 0.25em;
padding: 0.25em;
display: inline-block;
}
.jzm .border {
display: block;
}
.jzm .p .border {
display: inline-block;
}
/* 破線罫囲み */
.dashed_border {
border: 1px dashed #000;
margin: 0.25em;
padding: 0.25em;
display: inline-block;
}
.jzm .dashed_border {
display: block;
}
.jzm .p .dashed_border {
display: inline-block;
}

/* 圏点 */
span.sesame {
text-emphasis-style: sesame;
-webkit-text-emphasis-style: sesame;
-epub-text-emphasis-style: sesame;
}
span.open_sesame {
text-emphasis-style: open sesame;
-webkit-text-emphasis-style: open sesame;
-epub-text-emphasis-style: open sesame;
}
span.dot {
text-emphasis-style: dot;
-webkit-text-emphasis-style: dot;
-epub-text-emphasis-style: dot;
}
span.open_dot {
text-emphasis-style: open dot;
-webkit-text-emphasis-style: open dot;
-epub-text-emphasis-style: open dot;
}
span.circle {
text-emphasis-style: circle;
-webkit-text-emphasis-style: circle;
-epub-text-emphasis-style: circle;
}
span.open_circle {
text-emphasis-style: open circle;
-webkit-text-emphasis-style: open circle;
-epub-text-emphasis-style: open circle;
}
span.double-circle {
text-emphasis-style: double-circle;
-webkit-text-emphasis-style: double-circle;
-epub-text-emphasis-style: double-circle;
}
span.open_double-circle {
text-emphasis-style: open double-circle;
-webkit-text-emphasis-style: open double-circle;
-epub-text-emphasis-style: open double-circle;
}
span.triangle {
text-emphasis-style: triangle;
-webkit-text-emphasis-style: triangle;
-epub-text-emphasis-style: triangle;
}
span.open_triangle {
text-emphasis-style: open triangle;
-webkit-text-emphasis-style: open triangle;
-epub-text-emphasis-style: open triangle;
}
span.left_sesame {
text-emphasis-style: sesame;
text-emphasis-position: under;
-webkit-text-emphasis-style: sesame;
-webkit-text-emphasis-position: under;
-epub-text-emphasis-style: sesame;
-epub-text-emphasis-position: under;
}

/* 傍線 */
span.underline, span.double_underline, span.dotted_underline, span.dashed_underline, span.wave_underline {
border-right-width: 1px;
padding-right: 1px;
}
span.underline {
border-right-style: solid;
}
span.double_underline {
border-right-width: 3px;
border-right-style: double;
}
span.dotted_underline {
border-right-style: dotted;
}
span.dashed_underline {
border-right-style: dashed;
}
span.wave_underline {
border-right-style: solid;/*wave;*/
}
span.left_underline {
border-left-style: solid;
padding-left: 1px;
border-left-width: 1px;
}

/* 文字サイズ 大 */
.font1 { font-size: 110%; }
.font2 { font-size: 120%; }
.font3 { font-size: 130%; }
.font4 { font-size: 140%; }
.font5 { font-size: 150%; }
.font6 { font-size: 160%; }
/* 文字サイズ 小 */
.font-1 { font-size: 90%; }
.font-2 { font-size: 83%; }
.font-3 { font-size: 77%; }
.font-4 { font-size: 70%; }
.font-5 { font-size: 66%; }
.font-6 { font-size: 62%; }
.kogaki { font-size: 70%; }

/* 縦中横 */
/* 外字画像と重ならない対策 ※有効にすると字下げ折り返し内で画面外にずれる */ 
/*span.tcy { display: inline-block; }*/
.tcy span {
text-combine: horizontal;
-webkit-text-combine: horizontal;
-epub-text-combine: horizontal;
}

ruby {
	white-space: nowrap;
}

/** 割り注 (要改行) */
span.wrc {
display: inline-block;
font-size: .6em;
line-height: 1em;
vertical-align: middle;
padding: .2em 0 .1em 0;
position: relative;
left: -.4em;
}

/** 横組み (右に回転) */
span.swr {
display: inline-block;
}
.swr {
text-orientation: sideways-right;
-webkit-text-orientation: sideways-right;
-epub-text-orientation: sideways-right;
}

/* 横書き */
div.yoko {
display: inline-block;
writing-mode: horizontal-tb;
-webkit-writing-mode: horizontal-tb;
-epub-writing-mode: horizontal-tb;
}

/* 行右小書き 上付き小文字 */
.sup {
vertical-align: super;
font-size: 0.66em;
letter-spacing: -2px;
}
/* 行左小書き 下付き小文字 */
.sub {
vertical-align: sub;
font-size: 0.66em;
letter-spacing: -2px;
}

/* 中央揃え */
div.center, div.center p { text-align: center; }

/* 字下げ */
div.pt1 { margin-top: 1em; }
div.pt2 { margin-top: 2em; }
div.pt3 { margin-top: 3em; }
div.pt4 { margin-top: 4em; }
div.pt5 { margin-top: 5em; }
div.pt6 { margin-top: 6em; }
div.pt7 { margin-top: 7em; }
div.pt8 { margin-top: 8em; }
div.pt9 { margin-top: 9em; }
div.pt10 { margin-top: 10em; }
div.pt11 { margin-top: 11em; }
div.pt12 { margin-top: 12em; }
div.pt13 { margin-top: 13em; }
div.pt14 { margin-top: 14em; }
div.pt15 { margin-top: 15em; }
div.pt16 { margin-top: 16em; }
div.pt17 { margin-top: 17em; }
div.pt18 { margin-top: 18em; }
div.pt19 { margin-top: 19em; }
div.pt20 { margin-top: 20em; }
div.pt21 { margin-top: 21em; }
div.pt22 { margin-top: 22em; }
div.pt23 { margin-top: 23em; }
div.pt24 { margin-top: 24em; }
div.pt25 { margin-top: 25em; }
div.pt26 { margin-top: 26em; }
div.pt27 { margin-top: 27em; }
div.pt28 { margin-top: 28em; }
div.pt29 { margin-top: 29em; }
div.pt30 { margin-top: 30em; }

/* 字上げ */
div.pb1, div.pb1 p { margin-bottom: 1em; }
div.pb2, div.pb2 p { margin-bottom: 2em; }
div.pb3, div.pb3 p { margin-bottom: 3em; }
div.pb4, div.pb4 p { margin-bottom: 4em; }
div.pb5, div.pb5 p { margin-bottom: 5em; }
div.pb6, div.pb6 p { margin-bottom: 6em; }
div.pb7, div.pb7 p { margin-bottom: 7em; }
div.pb8, div.pb8 p { margin-bottom: 8em; }
div.pb9, div.pb9 p { margin-bottom: 9em; }
div.pb10, div.pb10 p { margin-bottom: 10em; }
div.pb11, div.pb11 p { margin-bottom: 11em; }
div.pb12, div.pb12 p { margin-bottom: 12em; }
div.pb13, div.pb13 p { margin-bottom: 13em; }
div.pb14, div.pb14 p { margin-bottom: 14em; }
div.pb15, div.pb15 p { margin-bottom: 15em; }
div.pb16, div.pb16 p { margin-bottom: 16em; }
div.pb17, div.pb17 p { margin-bottom: 17em; }
div.pb18, div.pb18 p { margin-bottom: 18em; }
div.pb19, div.pb19 p { margin-bottom: 19em; }
div.pb20, div.pb20 p { margin-bottom: 20em; }
div.pb21, div.pb21 p { margin-bottom: 21em; }
div.pb22, div.pb22 p { margin-bottom: 22em; }
div.pb23, div.pb23 p { margin-bottom: 23em; }
div.pb24, div.pb24 p { margin-bottom: 24em; }
div.pb25, div.pb25 p { margin-bottom: 25em; }

/* 地付き */
div.btm, div.btm p { text-align: right; }

/* 改行天付き、折り返して(.+?)字下げ → class="pt{$1} idt-{$1}" */
/* ここから(.+?)字下げ、折り返して(.+?)字下げ → class="pt{$2} idt{$1-$2}" */
div.idt1 { text-indent: 1em; }
div.idt2 { text-indent: 2em; }
div.idt3 { text-indent: 3em; }
div.idt4 { text-indent: 4em; }
div.idt5 { text-indent: 5em; }
div.idt6 { text-indent: 6em; }
div.idt7 { text-indent: 7em; }
div.idt8 { text-indent: 8em; }
div.idt9 { text-indent: 9em; }
div.idt10 { text-indent: 10em; }
div.idt11 { text-indent: 11em; }
div.idt12 { text-indent: 12em; }
div.idt13 { text-indent: 13em; }
div.idt14 { text-indent: 14em; }
div.idt15 { text-indent: 15em; }
div.idt16 { text-indent: 16em; }
div.idt17 { text-indent: 17em; }
div.idt18 { text-indent: 18em; }
div.idt19 { text-indent: 19em; }
div.idt20 { text-indent: 20em; }
div.idt21 { text-indent: 21em; }
div.idt22 { text-indent: 22em; }
div.idt23 { text-indent: 23em; }
div.idt24 { text-indent: 24em; }
div.idt25 { text-indent: 25em; }
div.idt-1 { text-indent: -1em; }
div.idt-2 { text-indent: -2em; }
div.idt-3 { text-indent: -3em; }
div.idt-4 { text-indent: -4em; }
div.idt-5 { text-indent: -5em; }
div.idt-6 { text-indent: -6em; }
div.idt-7 { text-indent: -7em; }
div.idt-8 { text-indent: -8em; }
div.idt-9 { text-indent: -9em; }
div.idt-10 { text-indent: -10em; }
div.idt-11 { text-indent: -11em; }
div.idt-12 { text-indent: -12em; }
div.idt-13 { text-indent: -13em; }
div.idt-14 { text-indent: -14em; }
div.idt-15 { text-indent: -15em; }
div.idt-16 { text-indent: -16em; }
div.idt-17 { text-indent: -17em; }
div.idt-18 { text-indent: -18em; }
div.idt-19 { text-indent: -19em; }
div.idt-20 { text-indent: -20em; }
div.idt-21 { text-indent: -21em; }
div.idt-22 { text-indent: -22em; }
div.idt-23 { text-indent: -23em; }
div.idt-24 { text-indent: -24em; }
div.idt-25 { text-indent: -25em; }

/* 字詰め */
div.jzm1 { max-height: 1em; }
div.jzm2 { max-height: 2em; }
div.jzm3 { max-height: 3em; }
div.jzm4 { max-height: 4em; }
div.jzm5 { max-height: 5em; }
div.jzm6 { max-height: 6em; }
div.jzm7 { max-height: 7em; }
div.jzm8 { max-height: 8em; }
div.jzm9 { max-height: 9em; }
div.jzm10 { max-height: 10em; }
div.jzm11 { max-height: 11em; }
div.jzm12 { max-height: 12em; }
div.jzm13 { max-height: 13em; }
div.jzm14 { max-height: 14em; }
div.jzm15 { max-height: 15em; }
div.jzm16 { max-height: 16em; }
div.jzm17 { max-height: 17em; }
div.jzm18 { max-height: 18em; }
div.jzm19 { max-height: 19em; }
div.jzm20 { max-height: 20em; }
div.jzm21 { max-height: 21em; }
div.jzm22 { max-height: 22em; }
div.jzm23 { max-height: 23em; }
div.jzm24 { max-height: 24em; }
div.jzm25 { max-height: 25em; }
div.jzm26 { max-height: 26em; }
div.jzm27 { max-height: 27em; }
div.jzm28 { max-height: 28em; }
div.jzm29 { max-height: 29em; }
div.jzm30 { max-height: 30em; }
div.jzm31 { max-height: 31em; }
div.jzm32 { max-height: 32em; }
div.jzm33 { max-height: 33em; }
div.jzm34 { max-height: 34em; }
div.jzm35 { max-height: 35em; }
div.jzm36 { max-height: 36em; }
div.jzm37 { max-height: 37em; }
div.jzm38 { max-height: 38em; }
div.jzm39 { max-height: 39em; }
div.jzm40 { max-height: 40em; }

/* 行内全角スペース調整用 */
span.fullsp { padding-top:.5em; }
