<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:xml="http://www.w3.org/XML/1998/namespace" xml:lang="ja" lang="ja">
<head>
#if (${bookInfo.Vertical})
<link rel="stylesheet" type="text/css" href="../css/vertical_text.css"/>
<link rel="stylesheet" type="text/css" href="../css/vertical_font.css"/>
<link rel="stylesheet" type="text/css" href="../css/vertical_middle.css"/>
<link rel="stylesheet" type="text/css" href="../css/vertical.css"/>
#else
<link rel="stylesheet" type="text/css" href="../css/horizontal_text.css"/>
<link rel="stylesheet" type="text/css" href="../css/horizontal_font.css"/>
<link rel="stylesheet" type="text/css" href="../css/horizontal_middle.css"/>
<link rel="stylesheet" type="text/css" href="../css/horizontal.css"/>
#end
<style type="text/css">
.title, .subtitle, .orgtitle, .suborgtitle, .creator, .subcreator, .publisher, .series { line-height: 1.25; }
.series { font-size:1.25em; }
.title { font-size:1.75em; }
.title ruby rt { font-size:.4em; }
.orgtitle { font-size:1.4em; }
.orgtitle ruby rt { font-size:.5em; }
.subtitle { font-size:1.6em; }
.subtitle ruby rt { font-size:.5em; }
.suborgtitle { font-size:1.25em; }
.creator { font-size:1.25em; }
.subcreator { font-size:1.25em; }
</style>
<title>${title}</title>
</head>



#if (${kindle})
<body class="kindle">
<div class="kindle_outer"><div class="kindle_inner">
#else
<body>
#end
<table class="middle"><tr><td>

#if (${PUBLISHER})
	<div class="publisher">${PUBLISHER}</div>
	<br/>
#end

#if (${CREATOR})
	<br/>
#end
#if (${SUBCREATOR})
	<br/>
#end

#if (${SERIES})
	<div class="series">${SERIES}</div>
#end
	<div class="title">${TITLE}</div>
#if (${ORGTITLE})
	<div class="orgtitle pt1">${ORGTITLE}</div>
#end
#if (${SUBTITLE})
	<div class="subtitle pt1">${SUBTITLE}</div>
#end
#if (${SUBORGTITLE})
	<div class="suborgtitle pt2">${SUBORGTITLE}</div>
#end
#if (${CREATOR})
	<div class="creator btm pb2">${CREATOR}</div>
#end
#if (${SUBCREATOR})
	<div class="subcreator btm pb2">${SUBCREATOR}</div>
#end

</td></tr></table>
#if (${kindle})
</div></div>
#end

</body>
</html>