<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:xml="http://www.w3.org/XML/1998/namespace" xml:lang="ja" lang="ja">
<head>
<style type="text/css">
@page { margin:0; }
html {
writing-mode:horizontal-tb;
-webkit-writing-mode:horizontal-tb;
-epub-writing-mode:horizontal-tb;
margin:0;
padding:0;
height:98%;/*ADE error in 100%*/
}
body { margin:0; padding:0; height:98%; text-align:center; line-height: 1.5; }
.outer { margin:1.5% 2% 0 2%; width:96%; height:98.5%; text-align:center;
#if (${title_border})
border:1px solid black;
#end
}
.upper { padding:20% 5% 0 5%; height:50%; text-align:center; }
.lower { padding:0 5%; height:25%; text-align:center; }

.title, .subtitle, .orgtitle, .suborgtitle, .creator, .subcreator, .series, .publisher { text-align:center; line-height: 1.25; }
.series { padding-bottom:.5em; font-size:1.25em; }
.title {
#if (${TITLE.length()} > 30)
font-size:1.75em;
#else
font-size:2em;
#end
}
.title ruby rt { font-size:.4em; }
.orgtitle { padding-top:.5em; font-size:1.4em; }
.orgtitle ruby rt { font-size:.5em; }
.subtitle { padding-top:.25em; font-size:1.6em; }
.subtitle ruby rt { font-size:.5em; }
.suborgtitle { padding-top:.25em; font-size:1.25em; }
.creator { padding-top:5%; font-size:1.25em; }
.subcreator { padding-top:1em; font-size:1.25em; }
.publisher {  }

.space { padding-top: 5%; }

.sup {
vertical-align: super;
font-size: 0.66em;
letter-spacing: -2px;
}
.sub {
vertical-align: sub;
font-size: 0.66em;
letter-spacing: -2px;
}

</style>
<title>${title}</title>
</head>

<body>
<div class="outer">

<div class="upper">
#if (${SERIES})
	<div class="series">${SERIES}</div>
#else
	<div class="space"></div>
#end
#if (!${ORGTITLE})
	<div class="space"></div>
#end
#if (!${SUBTITLE})
	<div class="space"></div>
#end
#if (!${SUBORGTITLE})
	<div class="space"></div>
#end
	<div class="title">${TITLE}</div>
#if (${ORGTITLE})
	<div class="orgtitle">${ORGTITLE}</div>
#end
#if (${SUBTITLE})
	<div class="subtitle">${SUBTITLE}</div>
#end
#if (${SUBORGTITLE})
	<div class="suborgtitle">${SUBORGTITLE}</div>
#end
</div>

<div class="lower">
#if (${CREATOR})
	<div class="creator">${CREATOR}</div>
#end
#if (${SUBCREATOR})
	<div class="subcreator">${SUBCREATOR}</div>
#end
#if (${PUBLISHER})
	<br/>
	<div class="publisher">${PUBLISHER}</div>
#end
</div>

</div>
</body>
</html>