<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:xml="http://www.w3.org/XML/1998/namespace" xml:lang="ja" lang="ja">
<head>
#if (${bookInfo.Vertical})
#if (${sectionInfo.ImageFit})
	<link rel="stylesheet" type="text/css" href="../css/vertical_image.css" class="vertical_image" title="vertical image only"/>
#elseif (${sectionInfo.Middle})
	<link rel="stylesheet" type="text/css" href="../css/vertical_middle.css" class="vertical_middle" title="vertical middle"/>
#else
	<link rel="stylesheet" type="text/css" href="../css/vertical.css" class="vertical" title="vertical layout"/>
#end
#else
#if (${sectionInfo.ImageFit})
	<link rel="stylesheet" type="text/css" href="../css/horizontal_image.css" class="horizontal_image" title="horizontal image only"/>
#elseif (${sectionInfo.Middle})
	<link rel="stylesheet" type="text/css" href="../css/horizontal_middle.css" class="horizontal_middle" title="horizontal middle"/>
#else
	<link rel="stylesheet" type="text/css" href="../css/horizontal.css" class="horizontal" title="horizontal layout"/>
#end
#end
	<title>${bookInfo.Title}</title>
</head>
#if (${sectionInfo.ImageFitH})
<body class="fit_h">
#elseif (${sectionInfo.ImageFit})
<body class="fit">
#else 
<body>
#end
#if (${sectionInfo.Middle})
<table class="middle"><tr><td><div class="middle">
#end