<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops" lang="ja" xml:lang="ja">
<head>
<title>${title}</title>
<style type="text/css">
#if (${bookInfo.TocVertical})
@page {margin:.5em .5em 0 0;}
html {
	writing-mode: vertical-rl;
	-webkit-writing-mode: vertical-rl;
	-epub-writing-mode: vertical-rl;
}
h1 {font-size:1.5em; padding-top:1em;}
li {padding:0 .25em 0 0;}
li a {text-decoration:none; border-right-width:1px; border-right-style:solid; padding-right: 1px;}
.tcy span {
	width: 1em;
	text-combine: horizontal;
	-webkit-text-combine: horizontal;
	-epub-text-combine: horizontal;
}
.upr {
text-orientation: upright;
-webkit-text-orientation: upright;
-epub-text-orientation: upright;
}
#else
@page {margin:.5em 0 0 .5em;}
html {
	writing-mode:horizontal-tb;
	-webkit-writing-mode:horizontal-tb;
	-epub-writing-mode:horizontal-tb;
}
h1 {font-size:1.5em; text-align:center;}
li {padding:.25em 0 0 0;}
li a {text-decoration:none; border-bottom-width:1px; border-bottom-style:solid; padding-right: 1px;}
#end
li {list-style:none;}
li.chapter {list-style:disc; line-height:1.75em;}
nav#landmarks { display:none; }
</style>
</head>

<body>
## epub3 landmarks nav ==========================
	<nav epub:type="landmarks" id="landmarks" hidden="">
		<h2>Guide</h2>
		<ol>
#if (${bookInfo.InsertCoverPage})
			<li><a epub:type="cover" href="cover.xhtml">表紙</a></li>
#end
#if (${bookInfo.InsertTocPage})
			<li><a epub:type="toc" href="nav.xhtml">目次</a></li>
#end
#if (${title_page})
			<li><a epub:type="titlepage" href="title.xhtml">扉</a></li>
#end
#foreach(${sectionInfo} in ${sections})
			<li><a epub:type="bodymatter" href="${sectionInfo.SectionId}.xhtml">本文</a></li>
#break
#end
		</ol>
	</nav>
## epub3 toc nav ================================
#if (${kindle})
	<nav id="toc">
#else
	<nav epub:type="toc" id="toc">
#end
		<h1>目　次</h1>
		<ol>
#if (${bookInfo.InsertCoverPage} && ${bookInfo.InsertCoverPageToc})
			<li class="chapter" id="toccover"><a href="cover.xhtml">${cover_name}</a></li>
#end
#set($idx=0)
#foreach(${chapter} in ${chapters})
#if ($chapter.ChapterName)
#set($idx=$idx+1)
#if (${navNest})
#foreach(${start} in ${chapter.LevelStart})
		<li><ol>
#end
#end
#if ($chapter.ChapterId)
			<li class="chapter" id="toc${idx}"><a href="${chapter.SectionId}.xhtml#${chapter.ChapterId}">${chapter.ChapterName}</a></li>
#else
			<li class="chapter" id="toc${idx}"><a href="${chapter.SectionId}.xhtml">${chapter.ChapterName}</a></li>
#end
#if (${navNest})
#foreach(${end} in ${chapter.LevelEnd})
		</ol></li>
#end
#end
#end
#end
		</ol>
	</nav>
</body>
</html>
