<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<title>${title}</title>
<style type="text/css">
#if (${bookInfo.TocVertical})
@page {margin:.5em .5em 0 0;}
html {
	writing-mode: vertical-rl;
	-webkit-writing-mode: vertical-rl;
	-epub-writing-mode: vertical-rl;
}
h1 {font-size:1.5em; padding-top:1em;}
ol {list-style:disc;}
li {padding:0 .5em 0 0;}
ol ol li {padding:0 .25em 0 0;}
ol ol ol li {padding:0;}
li a {text-decoration:none; border-right-width:1px; border-right-style:solid; padding-right: 1px;}
.tcy span {
	width: 1em;
	text-combine: horizontal;
	-webkit-text-combine: horizontal;
	-epub-text-combine: horizontal;
}
#else
@page {margin:.5em 0 0 .5em;}
html {
	writing-mode:horizontal-tb;
	-webkit-writing-mode:horizontal-tb;
	-epub-writing-mode:horizontal-tb;
}
h1 {font-size:1.5em; text-align:center;}
ol {list-style:disc;}
li {padding:.5em 0 0 0;}
ol ol li {padding:.25em 0 0 0;}
ol ol ol li {padding:0;}
li a {text-decoration:none; border-bottom-width:1px; border-bottom-style:solid; padding-right: 1px;}
#end
</style>
</head>

<body>
	<nav xmlns:epub="http://www.idpf.org/2007/ops" epub:type="toc" id="toc">
		<h1>目　次</h1>
		<ol>
#if (${bookInfo.InsertCoverPage} && ${bookInfo.InsertCoverPageToc})
			<li class="chapter" id="toccover"><a href="cover.xhtml">${cover_name}</a></li>
#end
#set($idx=0)
#foreach(${chapter} in ${chapters})
#if ($chapter.ChapterName)
#set($idx=$idx+1)
#if ($chapter.ChapterId)
			<li class="chapter" id="toc${idx}"><a href="${chapter.SectionId}.xhtml#${chapter.ChapterId}">${chapter.ChapterName}</a></li>
#else
			<li class="chapter" id="toc${idx}"><a href="${chapter.SectionId}.xhtml">${chapter.ChapterName}</a></li>
#end
#end
#end
		</ol>
	</nav>
</body>
</html>
