<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:xml="http://www.w3.org/XML/1998/namespace" xml:lang="ja" lang="ja">
<head>
#if (${bookInfo.Vertical})
#if (${sectionInfo.ImageFit})
	<link rel="stylesheet" type="text/css" href="../css/vertical_image.css"/>
#elseif (${sectionInfo.Middle})
	<link rel="stylesheet" type="text/css" href="../css/vertical_middle.css"/>
	<link rel="stylesheet" type="text/css" href="../css/vertical.css"/>
#else
	<link rel="stylesheet" type="text/css" href="../css/vertical_text.css"/>
	<link rel="stylesheet" type="text/css" href="../css/vertical.css"/>
#end
#else
#if (${sectionInfo.ImageFit})
	<link rel="stylesheet" type="text/css" href="../css/horizontal_image.css"/>
#elseif (${sectionInfo.Middle})
	<link rel="stylesheet" type="text/css" href="../css/horizontal_middle.css"/>
	<link rel="stylesheet" type="text/css" href="../css/horizontal.css"/>
#else
	<link rel="stylesheet" type="text/css" href="../css/horizontal_text.css"/>
	<link rel="stylesheet" type="text/css" href="../css/horizontal.css"/>
#end
#end
	<title>${bookInfo.Title}</title>
</head>
#if (${bookInfo.ImageOnly})
<body class="fit_h">
#elseif (${sectionInfo.ImageFit})
<body class="fit">
#else 
<body>
#end
#if (${sectionInfo.Middle})
<table class="middle"><tr><td>
#end