<?xml version="1.0" encoding="UTF-8"?>
<ncx xmlns="http://www.daisy.org/z3986/2005/ncx/" version="2005-1">
<head>
<meta name="dtb:uid" content="urn:uuid:${identifier}"/>
<meta name="dtb:depth" content="${ncx_depth}"/>
<meta name="dtb:totalPageCount" content="0"/>
<meta name="dtb:maxPageNumber" content="0"/>
</head>
<docTitle>
	<text>${title}</text>
</docTitle>
<navMap>
#set($idx=0)
#if (${bookInfo.InsertCoverPage} && ${bookInfo.InsertCoverPageToc})
#set($idx=$idx+1)
	<navPoint id="toccover" playOrder="${idx}">
		<navLabel>
			<text>${cover_name}</text>
		</navLabel>
		<content src="xhtml/cover.xhtml"/>
	</navPoint>
#end
#foreach(${chapter} in ${chapters})
#if ($chapter.ChapterName)
#set($idx=$idx+1)
	<navPoint id="toc${idx}" playOrder="${idx}">
		<navLabel>
			<text>${chapter.NoTagChapterName}</text>
		</navLabel>
#if ($chapter.ChapterId)
		<content src="xhtml/${chapter.SectionId}.xhtml#${chapter.ChapterId}"/>
#else
		<content src="xhtml/${chapter.SectionId}.xhtml"/>
#end
#foreach(${end} in ${chapter.NavClose})
	</navPoint>
#end
#end
#end
</navMap>
</ncx>
