<?xml version="1.0" encoding="UTF-8"?>
<package xmlns="http://www.idpf.org/2007/opf" unique-identifier="pub-id" xml:lang="ja" profile="http://www.idpf.org/epub/30/profile/package/" version="3.0">
	<metadata xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:opf="http://www.idpf.org/2007/opf">
		<dc:title prefer="dcterms-title">${title}</dc:title>
		<meta property="dcterms:title" id="dcterms-title">${title}</meta>
		<dc:creator prefer="auth">${creator}</dc:creator>
		<meta property="dcterms:creator" id="auth">${creator}</meta>
		<dc:language prefer="pub-lang">ja</dc:language>
		<meta property="dcterms:language" id="pub-lang">ja</meta>
		<meta property="dcterms:modified">${modified}</meta>
		<dc:identifier id="pub-id">${identifier}</dc:identifier>
	</metadata>
	<manifest>
		<item id="horizontal" href="css/horizontal.css" media-type="text/css"/>
		<item id="vertical" href="css/vertical.css" media-type="text/css"/>
		<item id="nav" properties="nav" href="xhtml/nav.xhtml" media-type="application/xhtml+xml"/>
#foreach(${section} in ${sections})
		<item id="${section}" href="xhtml/${section}.xhtml" media-type="application/xhtml+xml"/>
#end
#foreach($image in ${images})
#if ($image.IsCover)
		<item id="img-$image.Id" href="images/$image.File" media-type="$image.Format" properties="cover-image"/>
#else
		<item id="img-$image.Id" href="images/$image.File" media-type="$image.Format"/>
#end
#end
	</manifest>
#if (${vertical})
	<spine page-progression-direction="rtl">
#else
	<spine page-progression-direction="ltr">
#end
#foreach(${section} in ${sections})
		<itemref idref="${section}" linear="yes"/>
#end
	</spine>
</package>
