<?xml version="1.0" encoding="UTF-8"?>
<package xmlns="http://www.idpf.org/2007/opf" unique-identifier="pub-id" xml:lang="ja" version="3.0">
	<metadata xmlns:dc="http://purl.org/dc/elements/1.1/">
		<dc:title id="title">${title}</dc:title>
		<meta refines="#title" property="dcterms:title">${title}</meta>
#if (${bookInfo.Creator})
		<dc:creator id="creator">${creator}</dc:creator>
		<meta refines="#creator" property="dcterms:creator">${creator}</meta>
#end
		<dc:language id="pub-lang">ja</dc:language>
		<meta refines="#pub-lang" property="dcterms:language">ja</meta>
		<dc:identifier id="pub-id">urn:uuid:${identifier}</dc:identifier>
		<meta refines="#pub-id" property="dcterms:identifier">urn:uuid:${identifier}</meta>
		<meta property="dcterms:modified">${modified}</meta>
#if (${bookInfo.InsertCoverPage})
		<meta name="cover" content="img${coverImage.Id}"/>
#end
#if (${kindle} && ${bookInfo.ImageOnly})
		<meta name="fixed-layout"  content="true"/>
		<meta name="book-type" content="comic"/>
#end
	</metadata>
	<manifest>
#if (${kindle} && ${bookInfo.ImageOnly})
		<item id="k_image" href="css/kindle_image.css" media-type="text/css"/>
#elseif (${bookInfo.Vertical})
#if (${bookInfo.ImageOnly})
		<item id="v_image" href="css/vertical_image.css" media-type="text/css"/>
#else
		<item id="vertical" href="css/vertical.css" media-type="text/css"/>
		<item id="v_font" href="css/vertical_font.css" media-type="text/css"/>
		<item id="v_text" href="css/vertical_text.css" media-type="text/css"/>
		<item id="v_middle" href="css/vertical_middle.css" media-type="text/css"/>
		<item id="v_image" href="css/vertical_image.css" media-type="text/css"/>
#end
#else
#if (${bookInfo.ImageOnly})
		<item id="h_image" href="css/horizontal_image.css" media-type="text/css"/>
#else
		<item id="horizontal" href="css/horizontal.css" media-type="text/css"/>
		<item id="h_font" href="css/horizontal_font.css" media-type="text/css"/>
		<item id="h_text" href="css/horizontal_text.css" media-type="text/css"/>
		<item id="h_middle" href="css/horizontal_middle.css" media-type="text/css"/>
		<item id="h_image" href="css/horizontal_image.css" media-type="text/css"/>
#end
#end
		<item id="nav" properties="nav" href="xhtml/nav.xhtml" media-type="application/xhtml+xml"/>
#if (${bookInfo.InsertCoverPage})
		<item id="cover-page" href="xhtml/cover.xhtml" media-type="application/xhtml+xml"/>
#end
#if (${bookInfo.InsertTitlePage})
		<item id="sec0001" href="xhtml/0001.xhtml" media-type="application/xhtml+xml"/>
#end
#foreach(${sectionInfo} in ${sections})
		<item id="sec${sectionInfo.SectionId}" href="xhtml/${sectionInfo.SectionId}.xhtml" media-type="application/xhtml+xml"/>
#end
#foreach($image in ${images})
#if ($image.IsCover)
		<item id="img${image.Id}" href="images/${image.OutFileName}" media-type="${image.Format}" properties="cover-image"/>
#else
		<item id="img${image.Id}" href="images/${image.OutFileName}" media-type="${image.Format}"/>
#end
#end
		<item href="toc.ncx" id="ncx" media-type="application/x-dtbncx+xml"/>
	</manifest>
#if (${bookInfo.Vertical})
	<spine page-progression-direction="rtl" toc="ncx">
#else
	<spine page-progression-direction="ltr" toc="ncx">
#end
#if (${bookInfo.InsertCoverPage})
		<itemref idref="cover-page" linear="yes"/>
#end
#if (${bookInfo.InsertTitlePage})
		<itemref idref="sec0001" linear="yes"/>
#end
#if (${bookInfo.InsertTocPage})
		<itemref idref="nav" linear="yes"/>
#end
#foreach(${sectionInfo} in ${sections})
		<itemref idref="sec${sectionInfo.SectionId}" linear="yes"/>
#end
	</spine>
#if (${bookInfo.InsertCoverPage} || ${bookInfo.InsertTocPage})
	<guide>
#if (${bookInfo.InsertCoverPage})
		<reference type="cover" title="cover-page" href="xhtml/cover.xhtml"/>
#end
#if (${bookInfo.InsertTocPage})
		<reference type="toc" title="nav" href="xhtml/nav.xhtml"/>
#end
	</guide>
#end
</package>