<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html
xmlns="http://www.w3.org/1999/xhtml"
xmlns:epub="http://www.idpf.org/2007/ops"
xml:lang="ja"
class="hltr"
>
<head>
<meta charset="UTF-8"/>
<title>${title}</title>
<link rel="stylesheet" type="text/css" href="../style/book-style.css"/>
</head>
<body class="p-titlepage">
<div class="main">

<div class="book-title">
#if (${SERIES})
<div class="book-title-before">
${SERIES}
</div>
#else
<div class="book-title-main">
${TITLE}
</div>
<div class="book-title-after">
${SUBTITLE}
</div>
</div>
<div class="author">
#if (${CREATOR})
${CREATOR}
#end
#if (${SUBCREATOR})
>${SUBCREATOR}
#end
</div>
#if (${PUBLISHER})
<div class="label">
<p class="label-name">${PUBLISHER}</p>
</div>
#end
</div>
</body>
</html>


<div class="upper">
#if (${SERIES})
	<div class="series">${SERIES}</div>
#else
	<div class="space"></div>
#end
#if (!${ORGTITLE})
	<div class="space"></div>
#end
#if (!${SUBTITLE})
	<div class="space"></div>
#end
#if (!${SUBORGTITLE})
	<div class="space"></div>
#end
	<div class="title">${TITLE}</div>
#if (${ORGTITLE})
	<div class="orgtitle">${ORGTITLE}</div>
#end
#if (${SUBTITLE})
	<div class="subtitle">${SUBTITLE}</div>
#end
#if (${SUBORGTITLE})
	<div class="suborgtitle">${SUBORGTITLE}</div>
#end
</div>

<div class="lower">
#if (${CREATOR})
	<div class="creator">${CREATOR}</div>
#end
#if (${SUBCREATOR})
	<div class="subcreator">${SUBCREATOR}</div>
#end
#if (${PUBLISHER})
	<br/>
	<div class="publisher">${PUBLISHER}</div>
#end
</div>

</div>
</body>
</html>