<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html
 xmlns="http://www.w3.org/1999/xhtml"
 xmlns:epub="http://www.idpf.org/2007/ops"
 xml:lang="ja"
#if (${bookInfo.Vertical} || !${sectionInfo.ImagePage}|| !${sectionInfo.Middle})
 class="vrtl"
#else
 class="hltr"
#end
>
<head>
<meta charset="UTF-8"/>
<title>${title}</title>
#if (${sectionInfo.ImagePage})
<link rel="stylesheet" type="text/css" href="../style/image.css"/>
#else
#if (${sectionInfo.Middle} || ${sectionInfo.Bottom})
<link rel="stylesheet" type="text/css" href="../style/middle.css"/>
#end
<link rel="stylesheet" type="text/css" href="../style/book-style.css"/>
#end

#if (${sectionInfo.ImageHeight} > 0)
<style type="text/css">
body .img img {
height: ${sectionInfo.ImageHeightPercent}%;
min-height: ${sectionInfo.ImageHeightPercent}%;
}
</style>
#end
</head>

#if (${sectionInfo.ImageFitW})
<body class="p-image">
#else (${sectionInfo.ImageFitH})
<body>
#end
#if (${sectionInfo.Middle})
<body class="p-text">
<div class="main vrtl block-align-center">
<div class="start-2em">
#end
#if (${sectionInfo.Bottom})
<body class="p-text">
<div class="main vrtl block-align-end">
<div class="start-2em">
#end